*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brand{
  text-decoration: none;
  font-weight: bold;
}
.unlink{
  text-decoration: none;
}
.cart{
  background-color: #F59E0D;
  display: flex;
  padding: 6px 12px;
  border-radius: 40px;
}
.navStyle{
  color: black;
  font-weight: bold;
  font-size: 16px;
}
